* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --darkGreen: #002500;
    --mossGreen: #929982;
    --desertSand: #EDCBB1;


}
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: var(--darkGreen);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: var(--desertSand) solid 8px;
  }
  
  header h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  #topbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
  }
  

  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  #startpage {
    text-align: center;
  }

  #startpage p {
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
  }

  #startQuiz {
    margin: 20px;
    width: 200px;
    height: 80px;
    background-color: var(--mossGreen);
    border: none;
    color: white;
    padding: 15px 32 px;
    /* display: inline-block; */
    font-size: 25px;
  }

  #quiz {
    display: none;
  }
  #quiz h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  #quiz ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  #quiz li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  #quiz button {
    width: 40px;
  }

  #end{
    display: none;
  }


    