* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --darkGreen: #002500;
    --mossGreen: #929982;
    --desertSand: #EDCBB1;


}
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: var(--darkGreen);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: var(--desertSand) solid 8px;
  }
  
  header h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  #topbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    font-size: 20px;
  }
  
  #highscores {
    color:  var(--darkGreen);
  }

  #highscores:hover {
    cursor: pointer;
    color: var(--mossGreen);
  }

  #timeleft {
    float: right;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  #startpage {
    text-align: center;
  }

  #startpage p {
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
  }

  button {
    margin: 20px;
    padding: 20px;
    background-color: var(--mossGreen);
    border: none;
    color: white;
    display: inline-block;
    font-size: 25px;
  }

  button:hover {
    background-color: var(--desertSand);
    cursor: crosshair;
  }

  #quizContainer {
    display: contents;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #questionContainer {
    text-align: center;

  }

  #answerContainer {
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
#scoreContainer {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 40px;

}

  #end{
    display: none;
  }

  footer {
    text-align: center;
    font-size: 25px;
  }

    